name: Lint, Format and Clean Nix Code

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    tags-ignore:
      - "update"

jobs:
  lint-format-clean:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          lfs: false
          persist-credentials: false

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Install Nix Tools
        run: |
          nix profile install nixpkgs#deadnix nixpkgs#statix nixpkgs#nixpkgs-fmt
        env:
          NIX_PATH: nixpkgs=channel:nixos-unstable

      - name: Run deadnix
        run: deadnix --edit .

      - name: Run Statix Lint
        run: statix fix .

      - name: Run Nix Format
        run: nixpkgs-fmt .

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          commit-message: "chore: auto format, lint and clean nix code"
          title: "Auto Lint, Format and Clean"
          body: "This is an auto-generated PR with linting, formatting and code cleaning changes."
          branch: auto-lint-format-clean
          delete-branch: true
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
          labels: automated chore
